{% extends 'base.html' %} 

{% block title %}
    New Department
{% endblock %} 

{% block content %}

<div class="container mt-4 row justify-content-center">
    <div class="content-card col-md-6 col-lg-6 col-sm-12">
        <h2>Create Department</h2>
        <hr>
        <div>
            {{ form.hidden_tag() }}
            {{ form.name.label(class='form-label') }} {{ form.name(class='form-control mb-2') }}
            {{ form.code.label(class='form-label') }} {{ form.code(class='form-control  mb-2', rows=4) }}
            {{ form.description.label(class='form-label') }} {{ form.description(class='form-control  mb-2', rows=4) }}
            <br>
            {{ form.submit(class='btn btn-primary w-100 py-2') }}
        </div>
    </div>
</div>

{% endblock %}