{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    {% if is_edit %}Edit Task{% else %}New Task{% endif %}
{% endblock %}

{% block extra_css %}
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}


{% block content %}

  <div class="panel-right">
    <div class="login-card">

        <p class="eyebrow">Create Task</p>
        <h2>{% if is_edit %}Edit Task{% else %}New Task{% endif %}</h2> 
        <p class="subtitle">Fill the form below to record task details</p>

        <div class="mb-3">

            {{ render_form(form, extra_classes="mt-3") }}
        </div>

    </div>
  </div>

{% endblock %}

