{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    {{ title }} - ReportIT
{% endblock %}

{% block extra_css %}
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet"/>
{% endblock %}


{% block content %}

  <div class="panel-right">
    <div class="login-card">
        <h2>
            Verify Reset Token
        </h2>
        <p class="subtitle">
            A code has been sent to your email. Enter the code received to set a new password
        </p>

        <div class="mb-3">
            {{ render_form(form, extra_classes="mt-3") }}
        </div>

    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script>
    document.getElementById('togglePwd').addEventListener('click', function () {
      const pwd  = document.getElementById('password');
      const icon = document.getElementById('eyeIcon');
      if (pwd.type === 'password') {
        pwd.type = 'text';
        icon.classList.replace('bi-eye', 'bi-eye-slash');
      } else {
        pwd.type = 'password';
        icon.classList.replace('bi-eye-slash', 'bi-eye');
      }
    });
  </script>
{% endblock %}


